<% include ../partials/header.ejs %>
<style>
body {
    padding-top: 40px;
}
</style>
<div class="container text-center" id="pagecont">
<h4>A confirmation email has been sent to <strong><%= user.local.email %></strong>, follow the link inside to confirm your account.</h4>
<p class="help-block">You'll need to do this to be able to login.</p>
<hr>
<p>Didn't get a confirmation email?</p>
<a class="btn btn-success" id="resend">Click here to resend</a>
<p hidden id="resend-confirm">Email sent!</p>
<p class="help-block">If you've mistyped your email address (shown above). You'll have to re-register with the correct one. Silly you!</p>
<a class="btn btn-default" href="/logout">Return to wrenchpunch.com</a>
</div>
<script type="text/javascript">
    $(".navbar").hide();
</script>
<% include ../partials/footer.ejs %>