<% include ../partials/header.ejs %>
<div class="container" id="pagecont">
    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-6 col-sm-8" id="pagecont">
    <form action="/forgot" method="POST">
        <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" autofocus="autofocus" required>
        </div>
        <button type="submit" class="btn btn-info">Reset Password</button>
    </form>
    </div>
</div>
<% include ../partials/footer.ejs %>