<% include ../partials/header.ejs %>
<div class="container">
    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-6 col-sm-8" id="pagecont">
    <h1 class="text-center">Login</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-info">Login</button>
    </form>
    <a class="help-block text-center" href="/forgot">Forgot your password?</a>
</div>
<% include ../partials/footer.ejs %>