<% include ../partials/header.ejs %>
<div class="container">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8" id="pagecont">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="POST">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" required>
          </div>
          <div class="form-group">
            <label for="username">Email</label>
            <input type="email" class="form-control" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <button type="submit" class="btn btn-info">Register</button>
        </form>
        </div>
<% include ../partials/footer.ejs %>