<% include ../partials/header.ejs %>
<style>
body {
    padding-top: 40px;
}
</style>
<div class="container text-center" id="pagecont">
    <div class="col-lg-3 col-sm-2"></div>
    <div class="col-lg-6 col-sm-8" id="pagecont">
    <form action="/reset/<%= token %>" method="POST">
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control" name="password" placeholder="New password" id="pass1">
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" class="form-control" name="confirm" placeholder="Confirm password" id="pass2" onkeyup="checkPass(); return false;">
         <span id="confirmMessage" class="confirmMessage"></span>
      </div>
      <button id="submitbutton" type="submit" class="btn btn-info" hidden>Update password</button>
    </form>
    </div>
</div>
<script type="text/javascript">
    $(".navbar").hide();
</script>
<% include ../partials/footer.ejs %>