        <p class="text-center">BETA version 1.0</p>
        <script src="/scripts/scripts.js" type="text/javascript"></script>
        <script src="/scripts/upload.js" type="text/javascript"></script>
        <script src="/scripts/lightbox.min.js" type="text/javascript"></script>
        <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>