<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wrenchpunch</title>
    <meta name="google-site-verification" content="SbxcGLLbXjLmGKGfonZmK_lzFJl3GUbl_G8Z5J-lVHo" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.min.css">
    <link rel="stylesheet" href="/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster-master/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />   
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightbox.min.css">
    <script src="/scripts/jquery-3.2.0.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/stylesheets/tooltipster-master/dist/js/tooltipster.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wrenchpunch</a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/index">Index</a></li>
                <% if(currentUser && currentUser.local.role == "admin") { %>
                <li><a href="/new">New DB Item</a></li>
                <% }; %>
            </ul>
            <form class="navbar-form navbar-right" id="search" action="/search" method="get">
                <div class="form-group">
                <input type="text" class="form-control search-query" placeholder="Search" name="name">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <% if(currentUser) { %>
                <li><a href="/profile"><%= currentUser.local.username %></a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <% }; %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
<% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert"><%= error %></div>
<% }; %>
<% if(success && success.length > 0) { %>
    <div class="alert alert-success" role="alert"><%= success %></div>
<% }; %>
</div>

