<% include partials/header.ejs %>
<div class="container" id="pagecont">
<h1>Admin Panel</h1>
<br>
<ul class="userList">
<% users.forEach(function(user) { %>
<li><strong><%= user.local.username %></strong></li>
<% }); %>
</ul>
<script>
    var items = $('.userList li').get();
    items.sort(function(a,b){
      var keyA = $(a).text();
      var keyB = $(b).text();
    
      if (keyA < keyB) return -1;
      if (keyA > keyB) return 1;
      return 0;
    });
    var ul = $('.userList');
    $.each(items, function(i, li){
      ul.append(li);
    });
</script>
</div> <!-- container -->
<% include partials/footer.ejs %>