<% include partials/header.ejs %>
<div class="container">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8" id="pagecont">
        <h1 class="text-center">Edit <%= item.name %></h1>
        <form action="/item/<%= item._id %>?_method=PUT" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="editedItem[name]" value="<%= item.name %>">
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" rows="3" name="editedItem[summary]"><%= item.summary %></textarea>
          </div>
          <div class="form-group">
            <label for="image">Image file name</label>
            <input class="form-control" rows="3" name="editedItem[image]" value="<%= item.image %>">
          </div>
          <div class="form-group">
            <label for="obtain">Obtaining</label>
            <textarea class="form-control" rows="3" name="editedItem[obtain]"><%= item.obtain %></textarea>
          </div>
          <!-- RECIPIE SECTION -------------------------------------------->
          <div class="checkbox text-center">
            <label>
              <input type="checkbox" value="Yes" name="editedItem[recipereq]" id="recipetoggle">
              <input id='testNameHidden' type='hidden' value='No' name='editedItem[recipereq]'>
              Recipe Required? 
            </label>
          </div>
          <div id="recipefields">
            <p class="help-block text-center">Hit ENTER after you have chosen the block to store it</p>
            <div class="form-group col-xs-4">
              <label for="name">Field 1</label>
              <input type="text" class="form-control search-query" name="field1" id="1">
              <div id="div1">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field1name]" value="<%= item.recipie.field1name %>" readonly>
              <input class="form-control" type="text" name="recipie[field1image]" value="<%= item.recipie.field1image %>" readonly>
              <input class="form-control" type="text" name="recipie[field1link]" value="<%= item.recipie.field1link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 2</label>
              <input type="text" class="form-control search-query" name="field2" id="2">
              <div id="div2">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field2name]" value="<%= item.recipie.field2name %>" readonly>
              <input class="form-control" type="text" name="recipie[field2image]" value="<%= item.recipie.field2image %>" readonly>
              <input class="form-control" type="text" name="recipie[field2link]" value="<%= item.recipie.field2link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 3</label>
              <input type="text" class="form-control search-query" name="field3" id="3">
              <div id="div3">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field3name]" value="<%= item.recipie.field3name %>" readonly>
              <input class="form-control" type="text" name="recipie[field3image]" value="<%= item.recipie.field3image %>" readonly>
              <input class="form-control" type="text" name="recipie[field3link]" value="<%= item.recipie.field3link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 4</label>
              <input type="text" class="form-control search-query" name="field4" id="4">
              <div id="div4">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field4name]" value="<%= item.recipie.field4name %>" readonly>
              <input class="form-control" type="text" name="recipie[field4image]" value="<%= item.recipie.field4image %>" readonly>
              <input class="form-control" type="text" name="recipie[field4link]" value="<%= item.recipie.field4link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 5</label>
              <input type="text" class="form-control search-query" name="field5" id="5">
              <div id="div5">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field5name]" value="<%= item.recipie.field5name %>" readonly>
              <input class="form-control" type="text" name="recipie[field5image]" value="<%= item.recipie.field5image %>" readonly>
              <input class="form-control" type="text" name="recipie[field5link]" value="<%= item.recipie.field5link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 6</label>
              <input type="text" class="form-control search-query" name="field6" id="6">
              <div id="div6">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field6name]" value="<%= item.recipie.field6name %>" readonly>
              <input class="form-control" type="text" name="recipie[field6image]" value="<%= item.recipie.field6image %>" readonly>
              <input class="form-control" type="text" name="recipie[field6link]" value="<%= item.recipie.field6link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 7</label>
              <input type="text" class="form-control search-query" name="field7" id="7">
              <div id="div7">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field7name]" value="<%= item.recipie.field7name %>" readonly>
              <input class="form-control" type="text" name="recipie[field7image]" value="<%= item.recipie.field7image %>" readonly>
              <input class="form-control" type="text" name="recipie[field7link]" value="<%= item.recipie.field7link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 8</label>
              <input type="text" class="form-control search-query" name="field8" id="8">
              <div id="div8">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field8name]" value="<%= item.recipie.field8name %>" readonly>
              <input class="form-control" type="text" name="recipie[field8image]" value="<%= item.recipie.field8image %>" readonly>
              <input class="form-control" type="text" name="recipie[field8link]" value="<%= item.recipie.field8link %>" readonly>
              </div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 9</label>
              <input type="text" class="form-control search-query" name="field9" id="9">
              <div id="div9">
              <p>Stored:</p>
              <input class="form-control" type="text" name="recipie[field9name]" value="<%= item.recipie.field9name %>" readonly>
              <input class="form-control" type="text" name="recipie[field9image]" value="<%= item.recipie.field9image %>" readonly>
              <input class="form-control" type="text" name="recipie[field9link]" value="<%= item.recipie.field9link %>" readonly>
              </div>
            </div>
            <div class="form-group text-center">
              <p class="help-block">Recipe guide</p>
              <table id="crafting" style="margin:auto;">
                      <tr>
                          <td>Field 1</td>
                          <td>Field 2</td>
                          <td>Field 3</td>
                      </tr>
                      <tr>
                          <td>Field 4</td>
                          <td>Field 5</td>
                          <td>Field 6</td>
                      </tr>
                      <tr>
                          <td>Field 7</td>
                          <td>Field 8</td>
                          <td>Field 9</td>
                      </tr>
                  </table>
                  <br>
              <button class="btn btn-danger text-center" id="clearrecipes">Clear all recipe fields</button>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label for="mcid">Minecraft ID</label>
            <input type="text" class="form-control" name="editedItem[mcid]" value="<%= item.mcid %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="idname">ID Name</label>
            <input type="text" class="form-control" name="editedItem[idname]" value="<%= item.idname %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="stackable">Stackable</label>
            <input type="number" class="form-control" name="editedItem[stackable]" value="<%= item.stackable %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="blastres">Blast Resistance</label>
            <input type="text" class="form-control" name="editedItem[blastres]" value="<%= item.blastres %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="toolreq">Tool required to break</label>
            <input type="text" class="form-control" name="editedItem[toolreq]" value="<%= item.toolreq %>">
          </div>
          <div class="form-group col-xs-6">
            <label for="flammable">Flammable</label>
            <input type="text" class="form-control" name="editedItem[flammable]" value="<%= item.flammable %>">
          </div>
          <div class="form-group col-xs-12">
            <label for="mod">Part of which mod</label>
            <input type="text" class="form-control" name="editedItem[mod]" value="<%= item.mod %>">
          </div>
          <button type="submit" class="btn btn-info btn-block">Update</button>
          <p class="help-block"><small>Any mistakes in the above form will be recorded in the Sex Cave archive, these can and will be used against you at any point in the future.</small></p>
        </form>
        <a class="btn btn-default" href="/item/<%= item._id %>">Go back</a>
        <form id="delete-form" action="/item/<%= item._id %>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger">Delete</button>
        </form>
        </div>
        <script>
        // Toggle ENTER key to submit on this page
          $('form input').on('keypress', function(e) {
              return e.which !== 13;
          });
        </script>
<% include partials/footer.ejs %>