<% include partials/header.ejs %>
<div class="container" id="pagecont">
    <h1>Index</h1>
    <ul class="indexList">
    <% items.forEach(function(item){ %>
        <li class="col-sm-3 col-lg-2"><a href="/item/<%= item._id %>"><img class="indeximage" src="/itemimages/<%= item.image %>"><%= item.name %></a></li>
    <% }); %>
    </ul>
</div>
<script>
    var items = $('.indexList li').get();
    items.sort(function(a,b){
      var keyA = $(a).text();
      var keyB = $(b).text();
    
      if (keyA < keyB) return -1;
      if (keyA > keyB) return 1;
      return 0;
    });
    var ul = $('.indexList');
    $.each(items, function(i, li){
      ul.append(li);
    });
</script>
<% include partials/footer.ejs %>