<% include partials/header.ejs %>
<div class="container">
        <div class="col-lg-12">
            <div id="content">
                <br>
                <h1>WrenchPunch</h1>
                <br>
                <div class="col-sm-6 col-sm-offset-3">
                    <form class="input-group" action="/search" method="get">
                        <input type="text" class="form-control search-query" name="name" autofocus="autofocus" placeholder="Search the database...">
                        <span class="input-group-btn" ><button class="btn btn-default" type="submit">Search</button></span>
                    </form><!-- /input-group -->
                 </div><!-- /.col-lg-6 -->
                 <br>
                 <br>
                <h4>The database for all your minecraft needs</h4>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    $("#search").hide();
</script>
<% include partials/footer.ejs %>