<% include partials/header.ejs %>
<div class="container">
        <div class="col-lg-3 col-sm-2"></div>
        <div class="col-lg-6 col-sm-8" id="pagecont">
        <h1 class="text-center">Create a new database item</h1>
        <form action="/new" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="newItem[name]" required>
          </div>
          <div class="form-group">
            <label for="summary">Summary</label>
            <textarea class="form-control" rows="3" name="newItem[summary]" placeholder="This is an awesome block, sometimes I dream about it..."></textarea>
          </div>
          <div class="form-group">
            <label for="image">Image file name</label>
            <input class="form-control" rows="3" name="newItem[image]">
          </div>
          <div class="form-group">
            <label for="obtain">Obtaining</label>
            <textarea class="form-control" rows="3" name="newItem[obtain]" placeholder="In order to get this block, you must bargin with a wizard."></textarea>
          </div>
          <!-- RECIPIE SECTION -------------------------------------------->
          <div class="checkbox text-center">
            <label>
              <input type="checkbox" value="Yes" name="newItem[recipereq]" id="recipetoggle">
              <input id='testNameHidden' type='hidden' value='No' name='newItem[recipereq]'>
              Recipe required?
            </label>
          </div>
          <div id="recipefields">
            <p class="help-block text-center">Hit ENTER after you have chosen the block to store it</p>
            <div class="form-group col-xs-4">
              <label for="name">Field 1</label>
              <input type="text" class="form-control search-query" name="field1" id="1">
              <div id="div1"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 2</label>
              <input type="text" class="form-control search-query" name="field2" id="2">
              <div id="div2"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 3</label>
              <input type="text" class="form-control search-query" name="field3" id="3">
              <div id="div3"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 4</label>
              <input type="text" class="form-control search-query" name="field4" id="4">
              <div id="div4"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 5</label>
              <input type="text" class="form-control search-query" name="field5" id="5">
              <div id="div5"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 6</label>
              <input type="text" class="form-control search-query" name="field6" id="6">
              <div id="div6"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 7</label>
              <input type="text" class="form-control search-query" name="field7" id="7">
              <div id="div7"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 8</label>
              <input type="text" class="form-control search-query" name="field8" id="8">
              <div id="div8"></div>
            </div>
            <div class="form-group col-xs-4">
              <label for="name">Field 9</label>
              <input type="text" class="form-control search-query" name="field9" id="9">
              <div id="div9"></div>
            </div>
            <div class="form-group text-center">
              <p class="help-block">Recipe guide</p>
              <table id="crafting" style="margin:auto;">
                      <tr>
                          <td>Field 1</td>
                          <td>Field 2</td>
                          <td>Field 3</td>
                      </tr>
                      <tr>
                          <td>Field 4</td>
                          <td>Field 5</td>
                          <td>Field 6</td>
                      </tr>
                      <tr>
                          <td>Field 7</td>
                          <td>Field 8</td>
                          <td>Field 9</td>
                      </tr>
                  </table>
                <div class="form-group col-xs-6">
                  <label for="recipeoutput">How many are crafted?</label>
                  <input type="number" class="form-control" name="newItem[recipeoutput]">
                </div>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label for="mcid">Minecraft ID</label>
            <input type="text" class="form-control" name="newItem[mcid]">
          </div>
          <div class="form-group col-xs-6">
            <label for="idname">ID Name</label>
            <input type="text" class="form-control" name="newItem[idname]">
          </div>
          <div class="form-group col-xs-6">
            <label for="stackable">Stackable</label>
            <input type="number" class="form-control" name="newItem[stackable]" placeholder="e.g. '64'">
          </div>
          <div class="form-group col-xs-6">
            <label for="blastres">Blast Resistance</label>
            <input type="text" class="form-control" name="newItem[blastres]">
          </div>
          <div class="form-group col-xs-6">
            <label for="toolreq">Tool</label>
            <input type="text" class="form-control" name="newItem[toolreq]" placeholder="Pickaxe (diamond/any) ">
          </div>
          <div class="form-group col-xs-6">
            <label for="flammable">Flammable</label>
            <input type="text" class="form-control" name="newItem[flammable]" placeholder="Yes/No">
          </div>
          <div class="form-group col-xs-12">
            <label for="mod">Part of which mod</label>
            <input type="text" class="form-control" name="newItem[mod]" placeholder="Thaumcraft">
          </div>
          <button type="submit" class="btn btn-info btn-block">Submit</button>
          <p class="help-block"><small>Any mistakes in the above form will be recorded in the Sex Cave archive, these can and will be used against you at any point in the future.</small></p>
        </form>
        </div>
        <script>
        // Toggle ENTER key to submit on this page
          $('form input').on('keypress', function(e) {
              return e.which !== 13;
          });
        </script>
<% include partials/footer.ejs %>