<% include partials/header.ejs %>

<div class="container" id="pagecont">
    <h1 class="text-center"><%= currentUser.local.username %>'s Profile Page</h1>
    <p class="text-center">Member since <% var date = new Date(currentUser.local.created) %><%= date.toDateString() %></p>
    <% if(!currentUser.local.verified){ %>
    <br>
    <div class="text-center">
    <p>Need to confirm your account?</p>
    <button class="btn btn-success" id="resend">Send me another email</button>
    <p hidden id="resend-confirm">Email sent!</p>
    </div>
    <% }; %>
    <hr>
    <div class="col-sm-6" id="recentcomments">
    <h4>Recent comments</h4>
    <br>
        <% comments.forEach(function(comment) { %>
        <a style="display:block" href="/item/<%= comment.locationID %>">
            <div id="recentcommentbox">
                <p><%= comment.text %></p>
                <p class="help-block"><small>Commented on: <%= comment.location %>.</small></p>
                <p class="help-block"><small>Created <% var date = new Date(comment.created) %><%= date.toDateString() %></small></p>
            </div>
        </a>
        <% }) %>
    </div>
    <div class="col-sm-6 text-center">
     <p>Profile page is a work in progress!</p>
     <% if(currentUser && currentUser.local.role == "admin") { %>
        <a class="btn btn-warning" href="/adminpanel">Admin Panel</a>
    <% } %>
    </div>
</div> <!-- container -->
<% include partials/footer.ejs %>