<% include partials/header.ejs %>
<div class="container" id="pagecont">
        <div class="row">
            <div class="col-md-8">
                <h1><%= item.name %></h1>
                <hr>
                <h3>Summary</h3>
                <p><%- item.summary %></p>
                <h3>Obtaining</h3>
                <p><%- item.obtain %></p>
                <% if(item.recipereq[0] === "Yes") { %>
                <table id="crafting">
                    <tr>
                        <td><a href="<%=item.recipie.field1link%>"><img src="/itemimages/<%= item.recipie.field1image %>" data-toggle="tooltip" data-placement="left" title="<%= item.recipie.field1name %>"></a></td>
                        <td><a href="<%=item.recipie.field2link%>"><img src="/itemimages/<%= item.recipie.field2image %>" data-toggle="tooltip" data-placement="top" title="<%= item.recipie.field2name %>"></a></td>
                        <td><a href="<%=item.recipie.field3link%>"><img src="/itemimages/<%= item.recipie.field3image %>" data-toggle="tooltip" data-placement="right" title="<%= item.recipie.field3name %>"></a></td>
                    </tr>
                    <tr>
                        <td><a href="<%=item.recipie.field4link%>"><img src="/itemimages/<%= item.recipie.field4image %>" data-toggle="tooltip" data-placement="left" title="<%= item.recipie.field4name %>"></a></td>
                        <td><a href="<%=item.recipie.field5link%>"><img src="/itemimages/<%= item.recipie.field5image %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.recipie.field5name %>"></a></td>
                        <td><a href="<%=item.recipie.field6link%>"><img src="/itemimages/<%= item.recipie.field6image %>" data-toggle="tooltip" data-placement="right" title="<%= item.recipie.field6name %>"></a></td>
                    </tr>
                    <tr>
                        <td><a href="<%=item.recipie.field7link%>"><img src="/itemimages/<%= item.recipie.field7image %>" data-toggle="tooltip" data-placement="left" title="<%= item.recipie.field7name %>"></a></td>
                        <td><a href="<%=item.recipie.field8link%>"><img src="/itemimages/<%= item.recipie.field8image %>" data-toggle="tooltip" data-placement="bottom" title="<%= item.recipie.field8name %>"></a></td>
                        <td><a href="<%=item.recipie.field9link%>"><img src="/itemimages/<%= item.recipie.field9image %>" data-toggle="tooltip" data-placement="right" title="<%= item.recipie.field9name %>"></a></td>
                    </tr>
                </table>
                <% }; %>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" id="sidebar">
                <img src="/itemimages/<%= item.image %>" alt="<%= item.name %> image">
                <h2>Quick facts</h2>
                <table class="table table-hover">
                    <tr>
                        <td>ID Name</td>
                        <td><%= item.idname %></td>
                    </tr>
                    <% if(item.stackable) { %>
                    <tr>
                        <td>Stackable</td>
                        <td>(<%= item.stackable %>)</td>
                    </tr>
                    <% } else { %>
                    <tr>
                        <td>Stackable</td>
                        <td><i>no</i></td>
                    </tr>
                    <% }; %>
                    <% if(!item.blastres == null) { %>
                    <tr>
                        <td>Blast Resistance</td>
                        <td><%= item.blastres %></td>
                    </tr>
                    <% }; %>
                    <% if(!item.toolreq == null) { %>
                    <tr>
                        <td>Tool</td>
                        <td><%= item.toolreq %></td>
                    </tr>
                    <% }; %>
                    <% if(!item.flammable == null) { %>
                    <tr>
                        <td>Flammable</td>
                        <td><%= item.flammable %></td>
                    </tr>
                    <% }; %>
                    <tr>
                        <td>Part of</td>
                        <td><%= item.mod %></td>
                    </tr>
                    <tr>
                        <td>Minecraft ID</td>
                        <td><%= item.mcid %></td>
                    </tr>
                </table>
                </div>
                <% if(currentUser && currentUser.local.role == "admin") { %>
                    <a class="btn btn-warning" href="/item/<%= item._id %>/edit">Edit</a>
                <% } %>
            </div>
        </div> <!-- row div -->
        
        <div id="showpagetabs">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments (<%= item.comments.length %>)</a></li>
            <li role="presentation"><a href="#usedin" aria-controls="usedin" role="tab" data-toggle="tab">Used in (<%= usedIn.length %>)</a></li>
            <li role="presentation"><a href="#screenshots" aria-controls="screenshots" role="tab" data-toggle="tab">Screenshots (<%= item.screenshots.length %>)</a></li>          
          </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="usedin">
              <div class="row" id="comment">
              <% if (usedIn[0] == undefined) { %>
                  <p>Nothing is made from this, it must be very important!</p>
                <% } else { %>
                <% usedIn.forEach(function(item) { %>
                <p><a class="tooltipster" data-tooltip-content="#tooltip_content" href="/item/<%= item._id %>"><%= item.name %></a> <img src="/itemimages/<%= item.image %>" class="usedinimage"></p>
                <% }); %>
                <% } %>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="comments">
                <% item.comments.forEach(function(comment) { %>
                    <div id="comment">
                    <p><small>by <strong><%= comment.author.username %></strong> on <% var date = new Date(comment.created) %><%= date.toDateString() %></small></p>
                    <p><%= comment.text %></p>
                        <% if(currentUser && currentUser.local.verified) { %>
                          <% if(comment.author.id.equals(currentUser._id) || currentUser.local.role == "admin") { %>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal<%= comment._id %>" id="editbutton">
                         Edit
                        </button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal<%= comment._id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
                              </div>
                              <div class="modal-body">
                                <form action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="comment[text]"><%= comment.text %></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                                <p class="help-block"><small>No swears please!</small></p>
                              </div>
                              <div class="modal-footer">
                                  <form id="delete-form" action="/item/<%= item._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                      <button type="submit" class="btn btn-danger">Delete</button>
                                  </form>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% }; %>
                    <% }; %>
                    </div> <!-- comment div -->
                <% }); %>
                <% if(currentUser && currentUser.local.verified) { %>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mynewModal" id="commentbutton">
                  Add a comment
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="mynewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add a comment...</h4>
                      </div>
                      <div class="modal-body">
                        <form action="/item/<%= item._id %>/comments" method="POST">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="comment[text]"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Post your comment</button>
                        </form>
                        <p class="help-block"><small>No swears please!</small></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else { %>
                <p style="padding: 20px 0 10px 20px">You must be <a href="/login">logged in</a> to comment.</p>
                <% }; %>
            </div> <!-- comments tab -->
            <div role="tabpanel" class="tab-pane fade" id="screenshots">
              
              <div class="row" id="comment">
                <% item.screenshots.forEach(function(screenshot) { %>
                    <div class="col-sm-6 col-md-3">
                      <div class="thumbnail">
                        <a href="/screenshots/<%= item._id %>-<%= screenshot.filename %>" data-lightbox="screenshots" ><img src="/screenshots/<%= item._id %>-<%= screenshot.filename %>"></a>
                        <div class="caption">
                          <p><small>by <strong><%= screenshot.author.username %></strong> on <% var date = new Date(screenshot.created) %><%= date.toDateString() %></small></p>
                          <% if(currentUser) { %>
                            <% if(screenshot.author.id.equals(currentUser._id) || currentUser.local.role == "admin") { %>
                            <form action="/item/<%= item._id %>/screenshots/<%= screenshot._id %>?_method=DELETE" method="POST">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <% }; %>
                          <% }; %>
                        </div>
                      </div>
                    </div>
                <% }); %>
                </div> <!-- row -->
                
                <!-- Add a screenshot button -->
                <% if(currentUser && currentUser.local.verified) { %>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#screenshotmodal" id="commentbutton">
                  Add a screenshot
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="screenshotmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content" id="screenshotmodalcontent">
                      <div class="modal-body">
                                <div class="panel panel-default" id="uploadpanel">
                                  <div class="panel-body text-center">
                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                    <h3>Upload a screenshot of a <%= item.name %></h3>
                                    <h3 id="obid" hidden><%= item._id %></h3>
                                    <h4>Make sure it's beautiful!</h4>
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar"></div>
                                    </div>
                                    <button class="btn btn-lg upload-btn btn-warning" type="button">Upload File</button>
                                    <p><small>After uploading, this window should close and update the item page, if it derps
                                                                  (which may happen) use the close button below!</small></p>
                                  </div>
                                </div>
                          <input id="upload-input" type="file" name="uploads[]"></br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <% } else { %>
                <p style="padding: 20px 0 10px 20px">You must be <a href="/login">logged</a> in to submit a screenshot</p>
                <% }; %>
            </div>
          </div>
        </div> <!-- #showpagetabs div -->
</div> <!-- container div -->


<% include partials/footer.ejs %>