a {
    text-decoration: none;
    color: #5E9D34;
}

a:hover, a:active { 
    text-decoration: none; 
    color: darkgreen;
}

body {
    font-family: 'Lato', sans-serif; 
    background: url('../images/background.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    color: #ddd;
}

#pagecont {
    border-radius: 0.5em;
    padding: 2em 3em 2em 3em;
    background-color: #333;
}

#sidebar {
    background-color: #222;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}

#content {
    text-align: center;
    padding-top: 15%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h3,h4 {
    padding-top: 20px;
    color: white;
}

h1 {
   color: white; 
}

#delete-form {
    display: inline;
    margin-left: 1em;
}

#crafting {
    margin-bottom: 15px;
}

#crafting td{
    width: 50px;
    height: 50px;
    border: 2px solid grey;
}

#crafting td img{
        max-height: 50px;
    max-width: 50px;
}

#recipefields {
    display: none;
}

#stackableinput {
    display: none;
}

.indeximage {
    max-height: 30px;
    padding-right: 10px;
}

.indexList {
    list-style: none;
}

#sidebar td {
    border-top: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #111;
}

#showpagetabs {
    padding-top: 30px;
}

#showpagetabs a{
    color: white;
}

.tab-content {
    background-color: #222;
}

.nav-tabs>li.active>a {
    background-color: #222;
}

.tooltip {
    font-family: inherit;
}

.nav-tabs>li>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    background-color: #222 !important;
}

.modal {
    color: black;
}

#myModalLabel {
    color: black;
}

#commentbutton {
    margin: 20px 0 20px 10px;
}

#comment {
    padding-top: 20px;
    padding-left: 30px;
    color: #ddd;
    border-bottom: 1px solid #333;
    max-width: 100%;
}

#editbutton {
    padding: 2 5 2 5;
    margin: -30px 5px 0 0;
    float: right;
}

.panel {
  padding-top: 20px;
  padding-bottom: 10px;
  background: inherit;
  border: none;
}

#screenshotmodalcontent {
    background: #555;
    color: white;
}

.glyphicon-cloud-upload {
  font-size: 5em;
}

#upload-input {
  display: none;
}

#search input {
    width:300px !important;
    margin: auto;
}

.tooltip_templates { display: none; }

.tooltipimage {
    max-width: 20px;
}

.usedinimage {
    max-height: 30px;
    display: inline;
}

#planslist strong{
    font-size: 1.3em;
    color: #5E9D34;
}

#planslist li{
    padding-top: 10px;
}

#submitbutton {
    display: none;
}

#recentcomments {
    background-color: #222;
    border-radius: 2px;
    padding-bottom: 20px;
}

#recentcomments {
    line-height: 0.5;
}

#recentcommentbox {
    padding-top: 15px;
    padding-bottom: 5px;
}